.github/
.antigravity

.DS_Store
Thumbs.db
.vscode/
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
*.iml
*.log
coverage/
.cache/
.next/
out/
*.tsbuildinfo
*.swp
.sass-cache/
*.class
*.jar
*.war
*.ear
*.debug
*.orig
*__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
celerybeat-schedule
instance/
.webassets-cache/
.scrapy/
docs/_build/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pyre/
.mypy_cache/
.dmypy.json
.pytype/

models/transformer_intent/checkpoint-497
models/transformer_intent/checkpoint-710
report.aux
report.fdb_latexmk
report.fls
report.out
report.synctex.gz
